{# Test conditionals and for loops. #}
{% if conditional %}
- name: conditional
  raw_string: Raw string of conditional
{% endif %}

{% for item in items %}
- name: item_{{ loop.index }}
  raw_string: Raw string of item {{ item }}
{% endfor %}
