{%- macro init_settings(ns) -%}
    {%- set ns.bod = "<|beginningofdialog|>" -%}
    {%- set ns.bom = "<|beginningofmessage|>" -%}
    {%- set ns.eom = "<|endofmessage|>" -%}
    {# Use this to represent explicit whitespace at the beginning or end of `content`.#}
    {%- set ns.space = "<|space|>" -%}
{%- endmacro -%}
