{% for cai_msg in pretruncate_messages(cai_messages, token_limit) %}
    {% set qual_author_msg =  canonicalize_user_name(cai_msg.author) + ": " + cai_msg.text %}
- name: "message_{{ loop.index }}"
  truncation_priority: 5
  content: |
    {{ settings.start_token }}{{ escape_special_characters(qual_author_msg) }}{{ settings.eom }}
    {%- set settings.start_token = settings.bom -%}
{% endfor %}
